* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif; }

.calidad {
  color: #041b31;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px; }

.profesional {
  color: #041b31;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px; }

.productores {
  color: #041b31;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px; }

h2 {
  font-family: 'Fjalla One', sans-serif;
  margin: 1rem;
  font-size: 2rem;
  text-decoration: underline;
  font-weight: bold; }

.fontNav {
  color: #c5cddf;
  text-decoration-style: solid;
  font-size: 1.5rem; }

.barraNavegacion {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #161616, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2b2a2a, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.navbar-toggler {
  color: #c5cddf;
  background-color: #1b5a91; }

.body {
  background: #4B79A1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #1b5a91);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #0e0d0d; }

.banner {
  font-size: 0rem;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #161616, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2b2a2a, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 0.5rem; }

.servicios {
  margin-top: 2rem;
  margin-bottom: 2rem; }

/* Formulario Contacto */
.formContainer__title {
  text-align: center; }

.form {
  text-align: center; }

.form__label {
  display: inline-block;
  width: 60%;
  text-align: left; }

.form__input,
.form__textarea {
  width: 60%;
  background-color: #121212;
  color: #c5cddf;
  border: none;
  border-bottom: solid 1px #2E4C6D; }

.form__textarea {
  height: 5rem;
  resize: none; }

.form__input:focus,
.form__textarea:focus {
  outline: none; }

.form__input--submit {
  background-color: #2E4C6D;
  margin-top: 1.5rem;
  border-radius: 0.3rem;
  border-bottom: none;
  font-weight: 700;
  cursor: pointer; }

.form__input--submit:hover {
  background-color: #33659b; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  color: #c5cddf;
  background-color: black;
  text-decoration-style: solid;
  padding: 2rem;
  margin: 1rem auto;
  font-size: 1.1rem; }

.linkHeader {
  position: fixed;
  justify-content: center;
  bottom: 2%;
  right: 2%;
  margin: 1rem; }
