footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    color: $colorSegundarioTexto;
    background-color: black;
    text-decoration-style: solid;
    padding: 2rem;
    margin: 1rem auto;
    font-size: 1.1rem;
}

.linkHeader {
    position: fixed;
    justify-content: center;
    bottom: 2%;
    right: 2%;
    margin: 1rem;
}

