.imgServ{
    width: 1500px;
    
}

li{
    list-style: none;
    
}

.elEstudio{
    margin-bottom: 3rem;
}

svg:hover{
    color:  rgb(197, 205, 223);
    font-weight: bold;
    
}

h3:hover{
    color:  rgb(197, 205, 223);
    font-weight: bold;
    
}

